*{
  margin: 0;
  padding: 0;
}

#root {
width: 100%;
  text-align: center;
}


.card {
  padding: 2em;
}

.active-dani{
  color: rgb(255, 0, 0);

}

.menu-navegacion{
  display: flex;
  justify-content: space-between;
  background-color: rgb(0, 0, 0);
  color: white;
  height: 30px;
  padding: 1rem;
}


.menu-navegacion img{
  width: 40px;
  height: auto;
}

nav{
  display: flex;
  align-items: center;
  margin-right: 2rem;
  gap: 1rem;
}

.img-home{
  width: 280px;
  height: 310px;
  border: none;

}

.pokemon-view{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
align-content: center;
}


.select{
  margin-bottom: 2%;
  height: 2rem;
  padding: 0.5rem;
  height: 3rem;
}

.nombre{
  text-transform: capitalize;
}

.link-volver{
  color: black;
  font-weight: 400;

}